WcfQTS_Client/Connected Services/ServiceReferenceQuestion/QuestionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="QuestionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceQue?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceQue?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceQue?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibQTS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceQue?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuestionService_GetQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestions" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionById" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionByTitle" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionByTitleForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionByTitleForUser" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionByTitleForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionByTitleForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_DeleteQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_DeleteQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_UpdateQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_UpdateQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_CreateQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_CreateQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_AddTopicToQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTopicToQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_AddTopicToQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTopicToQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_RemoveTopicFromQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTopicFromQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_RemoveTopicFromQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTopicFromQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetTopicsForQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopicsForQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetTopicsForQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopicsForQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionsByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsByUserId" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionsByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionsByTagAndUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsByTagAndUser" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionsByTagAndUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsByTagAndUserResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionsByPlatformAndUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsByPlatformAndUser" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetQuestionsByPlatformAndUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsByPlatformAndUserResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetPlatforms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlatforms" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetPlatforms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlatformsResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetPlatformById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlatformById" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetPlatformById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlatformByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetPlatformByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlatformByName" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetPlatformByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlatformByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetTopics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopics" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetTopics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopicsResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetTopicById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopicById" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetTopicById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopicByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetTopicByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopicByName" />
  </wsdl:message>
  <wsdl:message name="IQuestionService_GetTopicByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopicByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuestionService">
    <wsdl:operation name="GetQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetQuestions" message="tns:IQuestionService_GetQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionsResponse" message="tns:IQuestionService_GetQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionById" message="tns:IQuestionService_GetQuestionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionByIdResponse" message="tns:IQuestionService_GetQuestionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionByTitle" message="tns:IQuestionService_GetQuestionByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionByTitleResponse" message="tns:IQuestionService_GetQuestionByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionByTitleForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionByTitleForUser" message="tns:IQuestionService_GetQuestionByTitleForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionByTitleForUserResponse" message="tns:IQuestionService_GetQuestionByTitleForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/DeleteQuestion" message="tns:IQuestionService_DeleteQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/DeleteQuestionResponse" message="tns:IQuestionService_DeleteQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/UpdateQuestion" message="tns:IQuestionService_UpdateQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/UpdateQuestionResponse" message="tns:IQuestionService_UpdateQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/CreateQuestion" message="tns:IQuestionService_CreateQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/CreateQuestionResponse" message="tns:IQuestionService_CreateQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTopicToQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/AddTopicToQuestion" message="tns:IQuestionService_AddTopicToQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/AddTopicToQuestionResponse" message="tns:IQuestionService_AddTopicToQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTopicFromQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/RemoveTopicFromQuestion" message="tns:IQuestionService_RemoveTopicFromQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/RemoveTopicFromQuestionResponse" message="tns:IQuestionService_RemoveTopicFromQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopicsForQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetTopicsForQuestion" message="tns:IQuestionService_GetTopicsForQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetTopicsForQuestionResponse" message="tns:IQuestionService_GetTopicsForQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionsByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionsByUserId" message="tns:IQuestionService_GetQuestionsByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionsByUserIdResponse" message="tns:IQuestionService_GetQuestionsByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionsByTagAndUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionsByTagAndUser" message="tns:IQuestionService_GetQuestionsByTagAndUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionsByTagAndUserResponse" message="tns:IQuestionService_GetQuestionsByTagAndUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionsByPlatformAndUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionsByPlatformAndUser" message="tns:IQuestionService_GetQuestionsByPlatformAndUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetQuestionsByPlatformAndUserResponse" message="tns:IQuestionService_GetQuestionsByPlatformAndUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlatforms">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetPlatforms" message="tns:IQuestionService_GetPlatforms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetPlatformsResponse" message="tns:IQuestionService_GetPlatforms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlatformById">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetPlatformById" message="tns:IQuestionService_GetPlatformById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetPlatformByIdResponse" message="tns:IQuestionService_GetPlatformById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlatformByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetPlatformByName" message="tns:IQuestionService_GetPlatformByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetPlatformByNameResponse" message="tns:IQuestionService_GetPlatformByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopics">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetTopics" message="tns:IQuestionService_GetTopics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetTopicsResponse" message="tns:IQuestionService_GetTopics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopicById">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetTopicById" message="tns:IQuestionService_GetTopicById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetTopicByIdResponse" message="tns:IQuestionService_GetTopicById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopicByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionService/GetTopicByName" message="tns:IQuestionService_GetTopicByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionService/GetTopicByNameResponse" message="tns:IQuestionService_GetTopicByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuestionService" type="tns:IQuestionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuestions">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestionById">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetQuestionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestionByTitle">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetQuestionByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestionByTitleForUser">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetQuestionByTitleForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteQuestion">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/DeleteQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/UpdateQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateQuestion">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/CreateQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTopicToQuestion">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/AddTopicToQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTopicFromQuestion">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/RemoveTopicFromQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopicsForQuestion">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetTopicsForQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestionsByUserId">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetQuestionsByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestionsByTagAndUser">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetQuestionsByTagAndUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestionsByPlatformAndUser">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetQuestionsByPlatformAndUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlatforms">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetPlatforms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlatformById">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetPlatformById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlatformByName">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetPlatformByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopics">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetTopics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopicById">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetTopicById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopicByName">
      <soap:operation soapAction="http://tempuri.org/IQuestionService/GetTopicByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuestionService">
    <wsdl:port name="BasicHttpBinding_IQuestionService" binding="tns:BasicHttpBinding_IQuestionService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceQue" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>